<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-2">
    <span *ngFor="let deck of decks"><ion-chip>{{deck.name}}</ion-chip></span>
  </div>
  <div class="p-2">
    La relación con los objetivos la última semana ha sido la siguiente
  </div>
  <ion-segment
    class="p-2"
    [(ngModel)]="segment"
    (ionChange)="onChangeChangeDataChart()"
  >
    <ion-segment-button value="attempts"> attempts </ion-segment-button>
    <ion-segment-button value="successesAccuracy">
      successesAccuracy
    </ion-segment-button>
  </ion-segment>
  <ion-content>
    <canvas id="canvas" height="120">{{ chart }}</canvas>
  </ion-content>
</ion-content>
<app-loading [isLoading]="isLoading"></app-loading>
