<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'explore.title' | transloco |titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" size="6">
        <ion-card
          class="deck-card"
          color="secondary"
          (click)="onClickNavigateDeck(1)"
        >
          <ion-card-header>
            <ion-card-title
              >{{ "shared.decks" | transloco | titlecase }}</ion-card-title
            >
            <ion-card-subtitle
              >{{ 'explore.manage-decks' | transloco }}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content
            ><img src="assets/images/deck.svg" alt="Wave" class="wave"
          /></ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-sm="6" size="6">
        <ion-card
          class="deck-card"
          color="secondary"
          (click)="onClickNavigateWords()"
        >
          <ion-card-header>
            <ion-card-title
              >{{ "global.words" | transloco | titlecase }}</ion-card-title
            >
            <ion-card-subtitle
              >{{ 'explore.manage-words' | transloco }}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content
            ><img src="assets/images/words.svg" alt="Wave" class="wave"
          /></ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" size="6">
        <ion-card
          class="deck-card"
          color="secondary"
          (click)="onClickNavigatePhrases()"
        >
          <ion-card-header>
            <ion-card-title
              >{{ "global.phrases" | transloco | titlecase }}</ion-card-title
            >
            <ion-card-subtitle
              >{{ 'explore.manage-phrases' | transloco }}</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content
            ><img src="assets/images/phrase.svg" alt="Wave" class="wave"
          /></ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-sm="6" size="6">
        <ion-card
          class="deck-card"
          color="secondary"
          (click)="onClickNavigateVerbs()"
        >
          <ion-card-header>
            <ion-card-title
              >{{ "global.phrases" | transloco | titlecase }}</ion-card-title
            >
            <ion-card-subtitle
              >{{ 'explore.manage-phrases' | transloco }}1</ion-card-subtitle
            >
          </ion-card-header>
          <ion-card-content
            ><img src="assets/images/phrase.svg" alt="Wave" class="wave"
          /></ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
