<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="background-primary-color">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="background-primary-color">
    <ion-list lines="full" class="flex p-0 m-0">
      <ion-item class="background-primary-color">
        <ion-icon class="p-3" name="language-sharp"></ion-icon
        ><ion-label>{{ "menu.language" | transloco | titlecase }}</ion-label>
        <ion-select
          #selectLanguage
          [(ngModel)]="selectedLanguage"
          slot="end"
          [interfaceOptions]="customActionSheetOptions"
          interface="action-sheet"
          (ionChange)="onChangeLanguage(selectLanguage.value)"
        >
          <ion-select-option *ngFor="let lang of languages" [value]="lang.code">
            {{ lang.title }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="background-primary-color">
        <ion-icon class="p-3" name="contrast-sharp"></ion-icon
        ><ion-label>{{ "menu.dark-mode" | transloco | titlecase }}</ion-label>
        <ion-toggle
          slot="end"
          [checked]="isDarkMode"
          (ionChange)="onToggleDarkMode()"
        ></ion-toggle>
      </ion-item>
      <ion-item button id="open-contact-modal" class="background-primary-color">
        <ion-icon class="p-3" name="chatbox-ellipses-sharp"></ion-icon
        ><ion-label>{{ "menu.contact" | transloco | titlecase }}</ion-label>
      </ion-item>
      <ion-item class="background-primary-color">
        <ion-icon class="p-3" name="information-circle-sharp"></ion-icon
        ><ion-label>{{ "menu.about" | transloco | titlecase }}</ion-label>
      </ion-item>
      <ion-item class="background-primary-color">
        <ion-icon class="p-3" name="log-out-sharp"></ion-icon
        ><ion-label>{{ "menu.log-out" | transloco | titlecase }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar class="background-primary-color">
      Antonio Manuel Manceras Hevilla
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<app-contact-modal [userInfo]="userInfo"></app-contact-modal>
