<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ "home.add-goal-modal.title" | transloco | titlecase }}</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="p-2 pl-4">
    {{ "home.add-goal-modal.choose-goal" | transloco | firstChartUpper }}
  </div>

  <form (ngSubmit)="createGoal()" [formGroup]="addGoalForm">
    <ion-item class="p-2">
      <ion-input
        label="{{
          'home.add-goal-modal.number-attempts' | transloco | firstChartUpper
        }}"
        type="number"
        placeholder="{{
          'home.add-goal-modal.target-daily-attemps'
            | transloco
            | firstChartUpper
        }}"
        formControlName="attempts"
      ></ion-input>
    </ion-item>

    <ion-item class="p-2">
      <ion-range
        labelPlacement="start"
        label="{{
          'home.add-goal-modal.percentage-success' | transloco | firstChartUpper
        }}"
        formControlName="successesAccuracy"
        [pin]="true"
        [ticks]="true"
        [snaps]="true"
      ></ion-range>
    </ion-item>
    <ion-toolbar class="p-2 ion-toolbar-footer">
      <ion-buttons slot="end">
        <ion-button>
          <ion-spinner *ngIf="isLoading" fill="solid"></ion-spinner>
        </ion-button>
        <ion-button
          *ngIf="!isLoading"
          type="submit"
          color="primary"
          fill="solid"
          >{{ "global.accept" | transloco | titlecase }}</ion-button
        >
        <ion-button (click)="cancel()" color="medium" fill="solid">{{
          "global.cancel" | transloco | titlecase
        }}</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</ion-content>
