<ion-header>
  <app-add-deck-steps></app-add-deck-steps>
</ion-header>

<ion-content [fullscreen]="true">
  @switch(actualState()){ @case(addDeckState.WORD_SENSE) {
  <app-add-word-sense
    #addWordSense
    (validityChange)="setIsActualFormValid($event)"
    (isLoadingChange)="setIsLoading($event)"
  ></app-add-word-sense>
  } @case(addDeckState.PHRASE) {
  <app-add-phrase
    #addPhrase
    (validityChange)="setIsActualFormValid($event)"
  ></app-add-phrase>
  } @case(addDeckState.TITLE) {
  <app-add-title-description
    #addTitleDescription
    (validityChange)="setIsActualFormValid($event)"
  ></app-add-title-description>
  }}
</ion-content>
<ion-toolbar class="p-2 ion-toolbar-footer">
  <ion-buttons slot="end">
    <ion-button> </ion-button>
    <ion-button (click)="onClickBack()" color="medium">"back"</ion-button>
    <ion-button
      *ngIf="!isLoading"
      type="submit"
      color="primary"
      fill="solid"
      [disabled]="!isActualFormValid"
      (click)="onClickSubmit()"
    >
      {{ "global.accept" | transloco | titlecase }}</ion-button
    >
    <ion-button (click)="closeModal()" color="medium" fill="solid">{{
      "global.cancel" | transloco | titlecase
    }}</ion-button>
  </ion-buttons>
</ion-toolbar>
