<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "global.words" | transloco | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (word of wordsTranslation; track word) {
      <ion-item>
        <ion-label>{{ word.wordSenseTarget.word.name }}</ion-label>
      </ion-item>
    }
  </ion-list>
  <ion-infinite-scroll
    (ionInfinite)="onIonInfiniteGetNextPageWordsTranslation($event)"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
