<ion-header>
  <app-nav-bar [isWordsComponent]="isWordsComponent"></app-nav-bar>
  <ion-toolbar>
    @if (!isPlatformDesktop()) {
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="onClickNavigateExplore()">
          <ion-icon
            slot="start"
            name="arrow-back-outline"
            size="large"
          ></ion-icon
        ></ion-button>
      </ion-buttons>
    }
    <ion-title>{{ "global.words" | transloco | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="!isPlatformDesktop()">
  <ion-list>
    @for (word of wordsTranslation; track word) {
      <ion-item>
        <ion-label>{{ word.wordSenseTarget.word.name }}</ion-label>
      </ion-item>
    }
  </ion-list>
  <ion-infinite-scroll
    (ionInfinite)="onIonInfiniteGetNextPageWordsTranslation($event)"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
