<ion-header>
  <app-nav-bar [isVerbsComponent]="isVerbsComponent"></app-nav-bar>
  <ion-toolbar>
    @if (!isPlatformDesktop()) {
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="onClickNavigateExplore()">
          <ion-icon
            slot="start"
            name="arrow-back-outline"
            size="large"
          ></ion-icon
        ></ion-button>
      </ion-buttons>
    }
    <ion-title>{{ "global.phrases" | transloco | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="!isPlatformDesktop()">
  <ion-list>
    @for (verb of verbs; track $index) {
      <ion-item>
        <ion-label (click)="onClickOpenEditDeck(verb.id)">{{
          verb.name
        }}</ion-label>
      </ion-item>
    }
  </ion-list>
  <!-- <ion-infinite-scroll (ionInfinite)="onIonInfiniteGetNextPagePhrases($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
