<app-login-title [title]="'login.signup.welcome'"></app-login-title>

<div class="row">
  <form
    *ngIf="signupForm"
    class="bottom"
    (ngSubmit)="onSubmitSignUp()"
    [formGroup]="signupForm"
  >
    <ion-item class="p-2">
      <ion-input
        formControlName="username"
        placeholder="{{ 'login.username' | transloco | firstChartUpper }}"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-item class="p-2">
      <ion-input
        formControlName="{{ 'global.email' | transloco }}"
        placeholder="{{
          'global.email' | transloco | titlecase | firstChartUpper
        }}"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-item class="p-2">
      <ion-input
        formControlName="password"
        placeholder="{{ 'login.password' | transloco | firstChartUpper }}"
        type="password"
        ><ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-item class="p-2">
      <ion-input
        formControlName="confirmPassword"
        placeholder="{{
          'login.confirm-password' | transloco | firstChartUpper
        }}"
        type="password"
        ><ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-button
      type="submit"
      color="primary"
      class="pl-4 pr-4 pb-1 rounded-button"
      fill="solid"
      [disabled]="!signupForm.valid"
      >{{ "login.signup.register" | transloco | titlecase }}</ion-button
    >
    <ion-button color="primary" class="p-4 rounded-button" fill="solid">{{
      "login.signup.register-google" | transloco | titlecase
    }}</ion-button>
    <div class="p-1 link-signup">
      {{ "login.have-account" | transloco }}
      <a routerLink=".." routerLinkActive="active">{{
        "login.login-now" | transloco
      }}</a>
    </div>
  </form>
</div>
