.login-options {
    display: flex;
    justify-content: space-between;

}

.link-signup {
    text-align: center;
}

.rounded-button {
    --border-radius: 50px !important;
    width: 100%;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}

.row {
    height: 50%;
    z-index: 1;
}

.title-container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    --background: none;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 !important;
    color: var(--ion-color-dark);
    text-align: center;
}