<ion-header>
  <app-nav-bar [isDecksComponent]="isDecksComponent"></app-nav-bar>
  <ion-toolbar>
    @if (!isPlatformDesktop()) {
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="onClickNavigateExplore()">
          <ion-icon
            slot="start"
            name="arrow-back-outline"
            size="large"
          ></ion-icon
        ></ion-button>
      </ion-buttons>
    }
    <ion-title>{{ "shared.decks" | transloco | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="!isPlatformDesktop()">
  @if (!isLoading && decks && decks.length > 0) {
    @for (deck of decks; track $index) {
      <ion-card
        button
        class="p-4 m-2 deck-card"
        [color]="deck.color ? deck.color : 'tertiary'"
      >
        <!-- TODO incluir o no en el dck -->
        <!-- (click)="onClickOpenInfoDeck(deck)" -->
        {{ deck.name }}
        <span class="icon-float-right">
          <ion-button (click)="onClickOpenInfoDeck(deck)" fill="outline">
            Informacion<ion-icon name="information-circle"></ion-icon>
          </ion-button>
          <ion-button (click)="onClickNavigateStudy()" fill="outline">
            Estudiar<ion-icon name="book" color="dark" slot="end"></ion-icon>
          </ion-button>
          <ion-button (click)="onClickEditDeck(deck)" fill="outline">
            Editar <ion-icon name="search" color="dark" slot="end"></ion-icon>
          </ion-button>
          <ion-button
            (click)="onClickPresentRemoveDeckAlert(deck)"
            fill="outline"
          >
            Eliminar<ion-icon name="trash" color="dark" slot="end"></ion-icon>
          </ion-button>
        </span>
        <!-- <ion-buttons slot="end">
          <ion-button shape="round" (click)="onClickEditDeck()" color="medium">
            <ion-icon name="pencil"></ion-icon>
            edit
          </ion-button>
        </ion-buttons> -->
      </ion-card>
    }
  }

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="onClickNavigateAddDeck()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
