<app-login-title
  class="row"
  [title]="'login.forgot-password'"
></app-login-title>

<div class="row">
  <form
    *ngIf="forgetPasswordForm"
    class="bottom"
    (ngSubmit)="onSubmitForgetPassword()"
    [formGroup]="forgetPasswordForm"
  >
    <ion-item class="p-2">
      <ion-input
        formControlName="{{ 'global.email' | transloco }}"
        placeholder="{{ 'global.email' | transloco | titlecase }}"
        type="text"
      ></ion-input>
    </ion-item>

    <ion-button
      type="submit"
      color="primary"
      class="pl-4 pr-4 pb-1 rounded-button"
      fill="solid"
      [disabled]="!forgetPasswordForm.valid"
      >{{ "global.send" | transloco | titlecase }}</ion-button
    >
    <div class="p-1 link-signup">
      <a routerLink=".." routerLinkActive="active">{{
        "login.back-login" | transloco | titlecase
      }}</a>
    </div>
  </form>
</div>
