<form
  class="bottom"
  (ngSubmit)="onSubmitSelectTitle()"
  [formGroup]="addPhrasesForm"
>
  <ion-list>
    @for(wordPhraseTranslation of wordPhraseTranslations; track $index){
    <ion-item>
      <ion-checkbox
        labelPlacement="end"
        [formControl]="
          selectedPhrasesFormArray.at(wordPhraseTranslation.globalIndex)
        "
      >
        {{ wordPhraseTranslation.phraseTranslation.phraseFr }}</ion-checkbox
      >
    </ion-item>
    }
  </ion-list>
</form>
<ion-toolbar class="p-2 ion-toolbar-footer">
  <ion-buttons slot="end">
    <ion-button>
      <ion-spinner *ngIf="isLoading" fill="solid"></ion-spinner>
    </ion-button>
    <ion-button
      *ngIf="!isLoading"
      type="submit"
      color="primary"
      fill="solid"
      [disabled]="!addPhrasesForm.valid"
      (click)="onSubmitSelectTitle()"
    >
      {{ "global.accept" | transloco | titlecase }}</ion-button
    >
    <ion-button (click)="closeModal()" color="medium" fill="solid">{{
      "global.cancel" | transloco | titlecase
    }}</ion-button>
  </ion-buttons>
</ion-toolbar>
