@if(!isLoading){
<ion-title size="large">INDICATIVE </ion-title>
@for(conj of conjugationIndicative; track conj.id){
<app-conjugation-tense [conjugationTense]="conj"></app-conjugation-tense>
}

<ion-title size="large">SUBJUNTIVE </ion-title>
@for(conj of conjugationSubjunctive; track conj.id){
<app-conjugation-tense [conjugationTense]="conj"></app-conjugation-tense>

}

<ion-title size="large">CONDITIONAL </ion-title>
@for(conj of conjugationConditional; track conj.id){
<app-conjugation-tense [conjugationTense]="conj"></app-conjugation-tense>
}

<ion-title size="large">IMPERATIVE </ion-title>
@for(conj of conjugationImperative; track conj.id){
<app-conjugation-tense [conjugationTense]="conj"></app-conjugation-tense>
}

<ion-title size="large">NON PERSONAL </ion-title>
@for(conj of conjugationImpersonal; track conj.id){
<app-conjugation-tense [conjugationTense]="conj"></app-conjugation-tense>
} }
