<ion-header>
  <app-nav-bar [isStudyPage]="isStudyPage()"></app-nav-bar>
  <ion-toolbar>
    @if (stat && goal) {
      <app-track-progress-total-percentage
        [stat]="stat"
        [goal]="goal"
      ></app-track-progress-total-percentage>
    }
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  @if (!isLoading && decks && decks.length > 0) {
    <ion-item class="ion-item-no-margin">
      @for (deck of decks; track deck.id) {
        <ion-chip
          (click)="onChangeDeck(deck.id)"
          [color]="deck.id == selectedDeckId ? 'primary' : 'default'"
          >{{ deck.name }}</ion-chip
        >
      }
    </ion-item>
  }

  <app-quiz-card [selectedDeckId]="selectedDeckId"> </app-quiz-card>
</ion-content>
