<div>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="2">
        <span [innerHTML]="'global.total' | transloco | bold" class="p-2">
        </span
      ></ion-col>
      <ion-col size="10">
        <div class="container-progress-bar">
          <div
            class="progress-bar-filled"
            [style.width.%]="(stat.totalSuccesses / stat.totalAttempts) * 100"
          ></div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2"
        ><span
          [innerHTML]="'global.percentage' | transloco | bold"
          class="p-2"
        ></span>
      </ion-col>
      <ion-col size="10">
        <div class="container-segment">
          <div
            [ngClass]="
              stat.totalAttempts / goal.attempts > 0.2
                ? 'segment segment-filled'
                : 'segment'
            "
          ></div>
          <div
            [ngClass]="
              stat.totalAttempts / goal.attempts > 0.4
                ? 'segment segment-filled'
                : 'segment'
            "
          ></div>
          <div
            [ngClass]="
              stat.totalAttempts / goal.attempts > 0.6
                ? 'segment segment-filled'
                : 'segment'
            "
          ></div>
          <div
            [ngClass]="
              stat.totalAttempts / goal.attempts > 0.8
                ? 'segment segment-filled'
                : 'segment'
            "
          ></div>
          <div
            [ngClass]="
              stat.totalAttempts / goal.attempts > 1
                ? 'segment segment-filled'
                : 'segment'
            "
          ></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
