<app-login-title class="row" [title]="'login.new-password'"></app-login-title>

<div class="row">
  <form
    *ngIf="resetPasswordForm"
    class="bottom"
    (ngSubmit)="onSubmitResetPassword()"
    [formGroup]="resetPasswordForm"
  >
    <ion-item class="p-2">
      <ion-input
        formControlName="password"
        placeholder="{{ 'login.password' | transloco | firstChartUpper }}"
        type="password"
        ><ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-item class="p-2">
      <ion-input
        formControlName="confirmPassword"
        placeholder="{{
          'login.confirm-password' | transloco | firstChartUpper
        }}"
        type="password"
        ><ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <ion-button
      type="submit"
      color="primary"
      class="pl-4 pr-4 pb-1 rounded-button"
      fill="solid"
      [disabled]="!resetPasswordForm.valid"
      >{{ "login.change-password" | transloco | firstChartUpper }}</ion-button
    >
    <div class="p-1 link-signup">
      <a routerLink=".." routerLinkActive="active">{{
        "login.back-login" | transloco | titlecase
      }}</a>
    </div>
  </form>
</div>
