<ion-header>
  <ion-toolbar>
    <ion-title>Filtros</ion-title>
  </ion-toolbar>
</ion-header>
@if (isLoading()) {
  <ion-spinner class="spinner-container"></ion-spinner>
}
<ion-content [fullscreen]="true" class="p-2">
  @if (!isLoading()) {
    <form
      (ngSubmit)="onSubmitAppyFilters()"
      [formGroup]="addWordSenseFilterForm"
    >
      <ion-accordion-group [value]="'textFiltered'">
        <ion-accordion value="textFiltered">
          <ion-item slot="header" color="light">
            <ion-label>{{
              "global.title" | transloco | firstChartUpper
            }}</ion-label>
          </ion-item>

          <div class="ion-padding" slot="content">
            puede intriducir multiples textos entre espacios

            <ion-input
              class="ion-item-no-margin"
              type="text"
              labelPlacement="fixed"
              formControlName="textFiltered"
              (ionInput)="getWordSenseFilterSelected($event)"
            ></ion-input>
          </div>
        </ion-accordion>
        <ion-accordion value="percentageRange">
          <ion-item slot="header" color="light">
            <ion-label>{{
              "home.add-goal-modal.percentage-success"
                | transloco
                | firstChartUpper
            }}</ion-label>
            @if (wordFilterRequestSelected.minAccuracy) {
              <ion-chip [disabled]="true">
                > {{ wordFilterRequestSelected.minAccuracy }}%</ion-chip
              >
            }
            @if (wordFilterRequestSelected.maxAccuracy) {
              <ion-chip [disabled]="true">
                < {{ wordFilterRequestSelected.maxAccuracy }}%</ion-chip
              >
            }
          </ion-item>

          <div class="ion-padding" slot="content">
            introduzca el porcentaje maximo y minimo
            <ion-range
              class="p-4"
              labelPlacement="start"
              aria-label="Dual Knobs Range"
              [dualKnobs]="true"
              [pin]="true"
              [ticks]="true"
              [snaps]="true"
              formControlName="successesAccuracyRange"
              (ionChange)="onChangeSuccessesAccuracyRange($event)"
            ></ion-range>
          </div>
        </ion-accordion>

        <ion-accordion value="partSpeech">
          <ion-item slot="header" color="light">
            <ion-label>partSpeech</ion-label>

            @if (
              wordFilterRequestSelected.partSpeeches &&
              wordFilterRequestSelected.partSpeeches.length > 2
            ) {
              <ion-chip [disabled]="true">
                {{ wordFilterRequestSelected.partSpeeches.length }}</ion-chip
              >
            } @else {
              @for (
                partSpeech of wordFilterRequestSelected.partSpeeches;
                track $index
              ) {
                <ion-chip [disabled]="true"> {{ partSpeech.code }}</ion-chip>
              }
            }
          </ion-item>
          @for (partSpeech of wordFilterOptions.partSpeeches; track $index) {
            <div class="ion-padding" slot="content">
              <ion-checkbox
                labelPlacement="end"
                [formControl]="
                  selectedPartSpeechesFormArray.at(partSpeech.globalIndex)
                "
                (ionChange)="onChangeSelectedPartSpeeches($event, partSpeech)"
              >
                {{
                  partSpeech.code
                    | backEndConstant
                    | transloco
                    | firstChartUpper
                }}</ion-checkbox
              >
            </div>
          }
        </ion-accordion>
        <ion-accordion value="level">
          <ion-item slot="header" color="light">
            <ion-label>levels</ion-label>
            @if (
              wordFilterRequestSelected.levels &&
              wordFilterRequestSelected.levels.length > 2
            ) {
              <ion-chip [disabled]="true">
                {{ wordFilterRequestSelected.levels.length }}</ion-chip
              >
            } @else {
              @for (level of wordFilterRequestSelected.levels; track $index) {
                <ion-chip [disabled]="true"> {{ level.code }}</ion-chip>
              }
            }
          </ion-item>
          @for (level of wordFilterOptions.levels; track $index) {
            <div class="ion-padding" slot="content">
              <ion-checkbox
                labelPlacement="end"
                [formControl]="selectedLevelsFormArray.at(level.globalIndex)"
                (ionChange)="onChangeSelectedLevels($event, level)"
              >
                {{ level.code }}</ion-checkbox
              >
            </div>
          }
        </ion-accordion>
        <ion-accordion value="category">
          <ion-item slot="header" color="light">
            <ion-label>categories</ion-label>
            @if (
              wordFilterRequestSelected.categories &&
              wordFilterRequestSelected.categories.length > 2
            ) {
              <ion-chip [disabled]="true">
                {{ wordFilterRequestSelected.categories.length }}</ion-chip
              >
            } @else {
              @for (
                gender of wordFilterRequestSelected.categories;
                track $index
              ) {
                <ion-chip [disabled]="true"> {{ category.name }}</ion-chip>
              }
            }
          </ion-item>
          @for (category of wordFilterOptions.categories; track $index) {
            <div class="ion-padding" slot="content">
              <ion-checkbox
                labelPlacement="end"
                [formControl]="
                  selectedCategoriesFormArray.at(category.globalIndex)
                "
                (ionChange)="onChangeSelectedCategories($event, category)"
              >
                {{ category.name }}</ion-checkbox
              >
            </div>
          }
        </ion-accordion>
        <ion-accordion value="person">
          <ion-item slot="header" color="light">
            <ion-label>persons</ion-label>
            @if (
              wordFilterRequestSelected.persons &&
              wordFilterRequestSelected.persons.length > 2
            ) {
              <ion-chip [disabled]="true">
                {{ wordFilterRequestSelected.persons.length }}</ion-chip
              >
            } @else {
              @for (person of wordFilterRequestSelected.persons; track $index) {
                <ion-chip [disabled]="true"> > {{ person.code }}</ion-chip>
              }
            }
          </ion-item>
          @for (person of wordFilterOptions.persons; track $index) {
            <div class="ion-padding" slot="content">
              <ion-checkbox
                labelPlacement="end"
                [formControl]="selectedPersonsFormArray.at(person.globalIndex)"
                (ionChange)="onChangeSelectedPersons($event, person)"
              >
                {{
                  person.code | backEndConstant | transloco | firstChartUpper
                }}</ion-checkbox
              >
            </div>
          }
        </ion-accordion>
        <ion-accordion value="gender">
          <ion-item slot="header" color="light">
            <ion-label>genders</ion-label>
            @if (
              wordFilterRequestSelected.genders &&
              wordFilterRequestSelected.genders.length > 2
            ) {
              <ion-chip [disabled]="true">
                {{ wordFilterRequestSelected.genders.length }}</ion-chip
              >
            } @else {
              @for (gender of wordFilterRequestSelected.genders; track $index) {
                <ion-chip [disabled]="true"> {{ gender.code }}</ion-chip>
              }
            }
          </ion-item>
          @for (gender of wordFilterOptions.genders; track $index) {
            <div class="ion-padding" slot="content">
              <ion-checkbox
                labelPlacement="end"
                [formControl]="selectedGendersFormArray.at(gender.globalIndex)"
                (ionChange)="onChangeSelectedGenders($event, gender)"
              >
                {{
                  gender.code | backEndConstant | transloco | firstChartUpper
                }}</ion-checkbox
              >
            </div>
          }
        </ion-accordion>
        <ion-accordion value="number">
          <ion-item slot="header" color="light">
            <ion-label>numbers</ion-label>
            <!-- @if (wordSenseFilterSelected && wordFilterRequestSelected.persons) { -->
            @if (
              wordFilterRequestSelected.numbers &&
              wordFilterRequestSelected.numbers.length > 2
            ) {
              <ion-chip [disabled]="true">
                {{ wordFilterRequestSelected.numbers.length }}</ion-chip
              >
            } @else {
              @for (number of wordFilterRequestSelected.numbers; track $index) {
                <ion-chip [disabled]="true"> {{ number.code }}</ion-chip>
              }
            }
            <!-- } -->
          </ion-item>
          @for (number of wordFilterOptions.numbers; track $index) {
            <!-- <div class="ion-padding" slot="content">{{ number }}</div> -->

            <div class="ion-padding" slot="content">
              <ion-checkbox
                labelPlacement="end"
                [formControl]="selectedNumbersFormArray.at(number.globalIndex)"
                (ionChange)="onChangeSelectedNumbers($event, number)"
              >
                {{ number.code }}
              </ion-checkbox>
            </div>
          }
        </ion-accordion>
        <!-- <ion-accordion value="mood">
          <ion-item slot="header" color="light">
            <ion-label>moods</ion-label>
          </ion-item>
          @for (mood of wordSenseFilter.moods; track $index) {
            <div class="ion-padding" slot="content">
              <ion-checkbox
                labelPlacement="end"
                [formControl]="selectedMoodsFormArray.at(mood.globalIndex)"
              >
                {{
                  mood.code | backEndConstant | transloco | firstChartUpper
                }}</ion-checkbox
              >
            </div>
          }
        </ion-accordion> -->
        <ion-accordion value="moodAndTense">
          <ion-item slot="header" color="light">
            <ion-label>Moods & Tenses</ion-label>
          </ion-item>

          <div class="ion-padding" slot="content">
            @for (
              moodWithTense of wordFilterOptions.moodWithTenses;
              track $index
            ) {
              <ion-accordion-group>
                <ion-accordion value="mood-{{ moodWithTense.mood.code }}">
                  <ion-item slot="header" color="light">
                    <ion-checkbox labelPlacement="end">
                      {{
                        moodWithTense.mood.code
                          | backEndConstant
                          | transloco
                          | firstChartUpper
                      }}
                    </ion-checkbox>
                  </ion-item>

                  <div class="ion-padding" slot="content">
                    @for (tense of moodWithTense.tenses; track $index) {
                      <div class="accordion-subitem">
                        <ion-checkbox
                          labelPlacement="end"
                          (ionChange)="
                            onChangeSelectedTenses(
                              $event,
                              tense,
                              moodWithTense.mood
                            )
                          "
                        >
                          {{ tense.name | firstChartUpper }}
                        </ion-checkbox>
                      </div>
                    }
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            }
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </form>
  }
</ion-content>

<ion-toolbar class="p-2 ion-toolbar-footer">
  @if (isPlatformDesktop()) {
    <ion-buttons slot="end">
      <ion-button
        shape="round"
        expand="full"
        (click)="onClickBack()"
        color="medium"
      >
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        {{ "global.back" | transloco | titlecase }}
      </ion-button>

      <ion-button
        shape="round"
        expand="full"
        type="submit"
        color="primary"
        fill="solid"
        [disabled]="!addWordSenseFilterForm.valid"
        (click)="onSubmitAppyFilters()"
      >
        {{ "global.accept" | transloco | titlecase }}
        <ion-icon slot="end" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  } @else {
    <ion-buttons>
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" size="6" class="ion-text-center">
            <ion-button
              shape="round"
              expand="full"
              (click)="onClickBack()"
              color="medium"
            >
              <ion-icon slot="start" name="arrow-back"></ion-icon>
              {{ "global.back" | transloco | titlecase }}
            </ion-button>
          </ion-col>

          <ion-col size-sm="6" size="6" class="ion-text-center">
            <ion-button
              shape="round"
              expand="full"
              type="submit"
              color="primary"
              fill="solid"
              [disabled]="!addWordSenseFilterForm.valid"
              (click)="onSubmitAppyFilters()"
            >
              {{ "global.accept" | transloco | titlecase }}
              <ion-icon slot="end" name="checkmark"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  }
</ion-toolbar>
