<ion-toolbar>
  <ion-title>{{
    "explore.decks.add-edit-deck-modal.add-title" | transloco | titlecase
  }}</ion-title>
  <ion-grid class="wizard-stepper ion-no-padding">
    <ion-row class="segments">
      <ion-col class="segment" [class.filled]="actualStateIndex >= 0"></ion-col>
      <ion-col class="segment" [class.filled]="actualStateIndex >= 1"></ion-col>
      <ion-col class="segment" [class.filled]="actualStateIndex >= 2"></ion-col>
    </ion-row>

    <ion-row class="step-labels">
      <ion-col class="step-label">
        {{ "global.words" | transloco | titlecase }}
      </ion-col>
      <ion-col class="step-label">
        {{ "global.phrases" | transloco | titlecase }}
      </ion-col>
      <ion-col class="step-label">
        {{ "global.info" | transloco | titlecase }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
