/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import 'theme/variables';
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

//@import "@ionic/angular/css/palettes/dark.always.css"; 
@import "@ionic/angular/css/palettes/dark.class.css";
@import "@ionic/angular/css/palettes/dark.system.css";

//Color class from quaternary to nonary
.ion-color-quaternary {
  --ion-color-base: var(--ion-color-quaternary);
  --ion-color-base-rgb: var(--ion-color-quaternary-rgb);
  --ion-color-contrast: var(--ion-color-quaternary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-quaternary-contrast-rgb);
  --ion-color-shade: var(--ion-color-quaternary-shade);
  --ion-color-tint: var(--ion-color-quaternary-tint);
}

.ion-color-quinary {
  --ion-color-base: var(--ion-color-quinary);
  --ion-color-base-rgb: var(--ion-color-quinary-rgb);
  --ion-color-contrast: var(--ion-color-quinary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-quinary-contrast-rgb);
  --ion-color-shade: var(--ion-color-quinary-shade);
  --ion-color-tint: var(--ion-color-quinary-tint);
}

.ion-color-senary {
  --ion-color-base: var(--ion-color-senary);
  --ion-color-base-rgb: var(--ion-color-senary-rgb);
  --ion-color-contrast: var(--ion-color-senary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-senary-contrast-rgb);
  --ion-color-shade: var(--ion-color-senary-shade);
  --ion-color-tint: var(--ion-color-senary-tint);
}

.ion-color-septenary {
  --ion-color-base: var(--ion-color-septenary);
  --ion-color-base-rgb: var(--ion-color-septenary-rgb);
  --ion-color-contrast: var(--ion-color-septenary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-septenary-contrast-rgb);
  --ion-color-shade: var(--ion-color-septenary-shade);
  --ion-color-tint: var(--ion-color-septenary-tint);
}

.ion-color-octonary {
  --ion-color-base: var(--ion-color-octonary);
  --ion-color-base-rgb: var(--ion-color-octonary-rgb);
  --ion-color-contrast: var(--ion-color-octonary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-octonary-contrast-rgb);
  --ion-color-shade: var(--ion-color-octonary-shade);
  --ion-color-tint: var(--ion-color-octonary-tint);
}

.ion-color-nonary {
  --ion-color-base: var(--ion-color-nonary);
  --ion-color-base-rgb: var(--ion-color-nonary-rgb);
  --ion-color-contrast: var(--ion-color-nonary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-nonary-contrast-rgb);
  --ion-color-shade: var(--ion-color-nonary-shade);
  --ion-color-tint: var(--ion-color-nonary-tint);
}

// Paddings general classes
.p-0 {
  padding: var(--spacing-0);
}

.p-1 {
  padding: var(--spacing-1);
}

.p-2 {
  padding: var(--spacing-2);
}

.p-3 {
  padding: var(--spacing-3);
}

.p-4 {
  padding: var(--spacing-4);
}

//mmargin general classes
.m-0 {
  margin: var(--spacing-0);
}

.m-1 {
  margin: var(--spacing-1);
}

.m-2 {
  margin: var(--spacing-2);
}

.m-3 {
  margin: var(--spacing-3);
}

//Styling ionic classes
ion-header {
  box-shadow: none !important;
}

ion-toolbar {
  --border-width: 0 0 2px 0 !important;
  --border-color: var(--ion-color-primary);
}

ion-header ion-toolbar {
  --ion-toolbar-background: var(--ion-background-color-step-750);
}

body.dark ion-header ion-toolbar {
  --ion-toolbar-background: var(--global-primary-color);
}

//General useful classes
.background-primary-color {
  --background: var(--ion-color-primary);
}

body.dark .background-primary-color {
  --background: var(--ion-color-primary);
}

.horizontal-scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 10px;
  scroll-behavior: smooth;
}

.horizontal-scroll span {
  flex: 0 0 auto;
}

.icon-float-right {
  float: right;
}

.deck-card {
  cursor: pointer;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.align-vertical-icon-container {
  display: flex;
  align-items: center;
}