.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
}

.home-header-toolbar{
  --background: var(--ion-color-tertiary);
  color:var(--ion-color-secondary);
  // border-bottom-right-radius: 20px;
  // border-bottom-left-radius: 20px;
  // overflow: hidden;
}

ion-header {
	// ion-toolbar {
		border-radius: 0 0 20px 20px;
		overflow: hidden;
	// }
}

