.weekly-goal-tracing-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 80px;
    max-width: 110px;
    text-align: center;
    cursor: pointer;
}

.deck-card {
    border-radius: 25px !important;
    cursor: pointer;
}