<ion-menu contentId="main-content">
  <!-- <ion-header>
    <ion-toolbar class="home-header-toolbar">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content class="ion-padding">
    <ion-list lines="none">
      <ion-item>
        <ion-label>No Lines</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>No Lines</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>No Lines</ion-label>
      </ion-item> </ion-list
    >idioma, oscuro</ion-content
  >
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header class="home-header">
    <ion-toolbar class="home-header-toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title
        ><span *ngIf="!isLoading"> {{home.userInfo.surname}}</span>
      </ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-title size="large"
      >{{'shared.decks' | transloco | titlecase}}</ion-title
    >
    <ion-list *ngIf="!isLoading">
      <ion-item *ngFor="let deck of home.decks">
        {{deck.name}}
        <ion-avatar slot="start">
          <!-- <img src="..." /> -->
        </ion-avatar>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <!-- name -->
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <!-- icon -->
              </ion-col>
              <ion-col size="10">
                <!-- calender -->
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <!-- icon -->
              </ion-col>
              <ion-col size="10">
                <!-- time -->
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-title size="large"
      >{{'home.statistics'| transloco | titlecase}}</ion-title
    >
    <ion-card class="home-header">
      <ion-card-content class="horizontal-scroll">
        <div style="display: block; width: 400px">
          <canvas id="canvas" height="120">{{ chart }}</canvas>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-button id="open-modal" expand="block" (click)="openModal()"
      >Open Modal</ion-button
    >
  </ion-content>
</div>

<app-loading [isLoading]="isLoading"></app-loading>
