<ion-header>
  <ion-toolbar>
    <ion-title
      >{{ "home.study-journal-modal.title" | transloco | firstChartUpper }}
      {{ date }}</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="p-2">
    <ion-chip>Todo</ion-chip>
    <span *ngFor="let deck of decks"
      ><ion-chip>{{ deck.name }}</ion-chip></span
    >
  </div>
  <ion-list>
    <ion-item
      class="flex flex-space-between"
      *ngFor="let historial of historialList"
    >
      <span>{{ historial.wordTranslation.wordFr.name }}</span>
      <span class="icon-float-right"
        >{{ historial.success }}/{{ historial.attempts }}</span
      >
    </ion-item>
  </ion-list>
</ion-content>
