<ion-header>
  <ion-button fill="clear" (click)="onClickNavigateProfile()">
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon
    ><span class="explanation"></span>{{ 'global.back' | transloco}}</ion-button
  >
  <ion-toolbar>
    <ion-title>{{'profile.settings.title' | transloco | titlecase}}</ion-title>
  </ion-toolbar>
  <ion-item class="p-2 ion-item-no-border">
    <ion-avatar slot="start">
      <img
        [src]="userInfo && userInfo.image ? userInfo : 'https://www.w3schools.com/howto/img_avatar.png'"
      />
    </ion-avatar>
    <ion-label
      >Bonjour @if(userInfo && userInfo.surname){{{userInfo.surname}}}
    </ion-label>
  </ion-item>
</ion-header>
<ion-content>
  <ion-list lines="full" class="flex p-0 m-0">
    <ion-item>
      <ion-icon class="p-3" name="language-sharp"></ion-icon
      ><ion-label
        >{{ "profile.settings.language" | transloco | titlecase }}</ion-label
      >
      <ion-select
        #selectLanguage
        [(ngModel)]="selectedLanguage"
        slot="end"
        [interfaceOptions]="customActionSheetOptions"
        interface="action-sheet"
        (ionChange)="onChangeLanguage(selectLanguage.value)"
      >
        <ion-select-option *ngFor="let lang of languages" [value]="lang.code">
          {{ lang.title }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon class="p-3" name="contrast-sharp"></ion-icon
      ><ion-label
        >{{ "profile.settings.dark-mode" | transloco | titlecase }}</ion-label
      >
      <ion-toggle
        slot="end"
        [checked]="isDarkMode"
        (ionChange)="onToggleDarkMode()"
      ></ion-toggle>
    </ion-item>
    <ion-item class="cursor-pointer" (click)="onClickLogOut()">
      <ion-icon class="p-3" name="log-out-sharp"></ion-icon
      ><ion-label
        >{{ "profile.settings.log-out" | transloco | titlecase }}</ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar> v0.5.0 </ion-toolbar>
</ion-footer>
